.LoginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.LoginPage .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vh;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20%;
  padding: 10px;
  color: white;
}
.LoginPage .container .title {
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
}
.LoginPage .container button {
  background-color: #fff;
  box-shadow: 1px 1px 5px;
  width: 80%;
  height: 20%;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}
.LoginPage .container button:hover {
  background-color: #ccc;
  box-shadow: -1px -1px 5px;
}
